body{
    background-color: #f9f7f7;
}

h2{
    text-align: left;
    color:royalblue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 14px;
    height:46px;
    margin:20px;
    box-sizing: border-box;
}

.toggle_btn_container{
    border-radius: 5px;
    background-color: #EEE;
    padding: 5px;
}

.toggel_btn{
    color:black;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    padding:10px;
    width:120px;
}

.toggel_btn_active{
    background-color: #ffffff;
    font-weight: bold;
    transition: all .15s ease-in-out;
}

.save_btn {
    border: none;
    cursor: pointer;
    background-color: royalblue;
    padding: 10px 35px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    height:35px
}
  
.save_btn:hover {
    background-color: rgb(32, 64, 161);
}
 
.container{
    margin:auto;  
    padding: 5px 40px;
    width: 70%;
    /* background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0 , 0, 0, 0.2); */
}

.container form{
    display: grid;
    grid-template-columns: auto auto auto;
}
  
.container input, .container select {
    outline: none;
    /* color:rgb(70, 65, 65); */
    color:black;
    padding:12px;
    border-radius: 6px;
    border: 1px solid grey;
    font-size: 14px; 
    margin:8px;
}

.prevContainer{
    /* border: 5px solid black;
    background-color: rgb(233, 227, 227); */
    overflow-x: auto;
    border-radius: 15px;
    padding: 17px 40px;
    width: 90%;
    margin:auto;
}

.heading_bar{
    position:sticky;
    left:0px;
}

.experContainer{
    /* border: 2px solid #6d6b68; */
    margin-top: 30px;
    width:300px;
    /* margin:5px; */
}

.spanPre{
    color:royalblue;
    font-size: 22px;
    font-weight: bold;
}

.expDiv{
    display: flex;
}

.prevContainer form{
    display: flex;
    flex-direction: column;
}

.prevContainer input{
    outline: none;
    color: black;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid grey;
    font-size: 14px; 
    margin:3px;
}

.tableBox{
    width:100%;
    overflow-x: auto;
    /* border: 2px solid black; */
    box-sizing: border-box;
    padding:10px;
    margin-top: 20px;
}

.table{
    border-radius: 6px;
    border: 1px solid #D2D2D2;
    margin:auto;
    border-collapse: separate;
    border-spacing: 0px;
    width: 90%;
    text-align: left;
    overflow: hidden;
}

.table thead tr{
    height: 45px;
    background: #F0F8FC;
    
}

.table thead tr th{
    border-bottom: 1px solid #D2D2D2 ;
}

.table thead tr th, .table tbody tr td{
    padding: 8px;
}

.table thead tr th input{
    width:110px;
    border-radius: 4px;
    padding:4px;
    border:1px solid grey;
    outline: none;
}

.table tbody tr {
    height: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

.table tbody tr:nth-child(even){
    background-color: #f5f8fb;
}

.table tbody tr:nth-child(odd){
    background-color: #ffffff;
}

.hr_line {
    border-left: 2px solid grey;
    height: 220px;
    margin-left: 15px;
    margin-top: 35px;
    padding:10px;
}






